table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eec5c5;
}

th {
    background-color: #d83b00;
    color: white;
}

button {
    margin-right: 10px;
}

.add-button {
    position: relative;
    margin-top: 10px;
    width: 200px
}
