/*body {*/
/*    background-color: #f4f8fb;*/
/*}*/
tr:nth-of-type(odd) {
    background-color: rgba(96, 150, 208, 0.47);
}
.btn-rounded {
    border-radius: 10px;
}
.btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
}
#studentsTable th {
    background-color: #007bff;
    color: white;
}
.container {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}